.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slideshow-container {
  position: relative;
  max-width: 100%; /* Set max width to 50% */
  margin: auto; /* Center the slideshow */
  overflow: hidden; /* Hide overflow */
}

.mySlides {
  display: none; /* Initially hide all slides */
}

.img {
  width: 90%;
  vertical-align: middle;
  margin: auto
}

/* Styling for previous and next arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 5px;
  color: black;
  font-weight: bold;
  font-size: 36px;
  background-color: rgba(192, 186, 186, 0.362); /* Dark background */
  user-select: none;
  transform: translate(0, -50%); /* Centers the arrows vertically */
}

/* Left and right arrow positioning */
.prev {
  left: -10px; /* Aligns the left arrow to the left */
}

.next {
  right: -10px; /* Aligns the right arrow to the right */
}

/* Hover effect for the arrows */
.prev:hover, .next:hover {
  background-color: rgba(212, 201, 201, 0.891); /* Dark background */
}

/* Styling for arrows inside the circles */
/* .prev::before, .next::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  margin-right: 4px;
} */

/* .prev::before {
  transform: rotate(-135deg); 
  margin-right: 0;
  margin-left: 4px;
} */

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.active {
  background-color: #717171;
}

/* Optional: Add space between dots and carousel */
.carousel-container + div {
  margin-top: 10px;
}
@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}